<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>댓글 자세히 보기</title>
  </head>
  <body>
    <h1><%= commentinfo.userid %> 님의 댓글</h1>
    <a href="/comments">댓글 목록 보기</a>
    <p><%= commentinfo.date %></p>
    <p><%= commentinfo.comment %></p>
  </body>
</html>
