<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/paractice-POST" method="post" enctype="multipart/form-data">
      <legend>아이디</legend>
      <input type="text" name="id" id="id" placeholder="아이디" /> <br /><br />
      <legend>비밀번호</legend>
      <input type="text" name="pw" id="pw" placeholder="비밀번호" />
      <br /><br />
      <legend>이름</legend>
      <input type="text" name="name" id="name" placeholder="이름" />
      <br /><br />
      <legend>나이</legend>
      <input type="text" name="age" id="age" placeholder="나이" /> <br /><br />
      <legend>업로드할 이미지</legend>
      <input type="file" name="userfile" />
      <input type="text" name="title" /> <br /><br />
      <button>업로드</button>
    </form>
  </body>
</html>
